<div style="background-image: url('./assets/images/home.jpg'); height: 34rem; background-size: cover;">
  <div class="container">
    <div class="text-center" style="color: white; font-size: large;">
      <h4>Find Solutions, Ask Questions, Share Ideas,<br>Connect with usersacross the World.</h4>
    </div>
    <div class="row">
      <div class="container col-lg-8 p-3">
        <app-search *ngIf="(loginStatus | async) as LoginStatus"></app-search>
      </div>
    </div>
    <div class="row text-center">
      <div class="fixed-row-bottom" style="font-size:20px;color:white" *ngIf="status">
        <p>
          <i class="fa fa-users" title="Members"></i> {{status.members}}
          <i class="fa fa-comments" title="Posts"></i> {{status.posts}}
          <i class="fa fa-comments-o" title="Live Posts"></i> {{status.online}}
        </p>
      </div>
    </div>
  </div>
